In [8]:
from rugby_prediction.data import load_raw_data

In [9]:
df = load_raw_data()
df.head()

,match_id,unique_id,match_date,venue,city,state,neutral_site,indoor,team_1_id,team_1_name,...,team_1_score,team_1_winner,team_2_id,team_2_name,team_2_abbreviation,team_2_home_away,team_2_score,team_2_winner,competition,season
0,24843,s:300~l:8323~e:24843~c:24843,2005-02-05T14:00Z,Stade de France,Saint-Denis,Reunion,False,False,9,France,...,16,True,2,Scotland,SCOT,away,9,False,Six Nations,2005
1,24844,s:300~l:8323~e:24844~c:24844,2005-02-05T17:30Z,Principality Stadium,Cardiff,Wales,False,False,4,Wales,...,11,True,1,England,ENG,away,9,False,Six Nations,2005
2,128030,s:300~l:8007~e:128030~c:128030,2005-02-05T14:00Z,Twickenham Stoop,London,England,False,False,25901,Harlequins,...,38,True,25900,Gloucester Rugby,GLOUC,away,9,False,Gallagher Premiership,2005
3,128028,s:300~l:8007~e:128028~c:128028,2005-02-05T15:00Z,cinch Stadium at Franklin's Gardens,Northampton,England,False,False,25907,Northampton Saints,...,20,False,25909,Saracens,SARAC,away,21,True,Gallagher Premiership,2005
4,128029,s:300~l:8007~e:128029~c:128029,2005-02-05T19:45Z,Recreation Ground,Bath,England,False,False,25898,Bath Rugby,...,6,False,25903,Leicester Tigers,LEICS,away,6,False,Gallagher Premiership,2005

In [10]:
from rugby_prediction.preprocess import drop_nill_draws

print(len(df))
df = drop_nill_draws(df)
print(len(df))

15886
15445

In [11]:
from rugby_prediction.preprocess import drop_competitions

print(len(df))
df = drop_competitions(df)
print(len(df))

15445
15335

In [12]:
from rugby_prediction.preprocess import add_result_columns

df = add_result_columns(df)
df[['team_1_score', 'team_2_score', 'team_1_result', 'team_2_result']].head(10)

   team_1_score  team_2_score team_1_result team_2_result
0            16             9           win          loss
1            11             9           win          loss
2            38             9           win          loss
3            20            21          loss           win
4             6             6          draw          draw
5            17            28          loss           win
6            29            28           win          loss
7             6             9          loss           win
8             8            38          loss           win
9            13            40          loss           win

In [13]:
from rugby_prediction.preprocess import add_score_against_columns

df = add_score_against_columns(df)

In [14]:
from rugby_prediction.preprocess import previous_value_column

df['team_1_prev_score'] = previous_value_column(df, 'team_1_score', 'team_1_id')
df['team_1_prev_against'] = previous_value_column(df, 'team_1_against', 'team_1_id')
df['team_1_prev_result'] = previous_value_column(df, )

TypeError: previous_value_column() missing 2 required positional arguments: 'column' and 'team'

In [ ]:
from rugby_prediction.preprocess import rolling_average_column

ImportError: cannot import name 'rolling_average_column' from 'rugby_prediction.preprocess' (/Users/jamietaylor/Personal/Development/rugby_prediction/rugby_prediction/preprocess.py)